<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900387138832-62an7le4t61k43l3bkpn5aulqs2b4euo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900387138832-62an7le4t61k43l3bkpn5aulqs2b4euo</string>
	<key>API_KEY</key>
	<string>AIzaSyDm6YsPDuFtu_ZauKvjY5dWT30lLiv3Arw</string>
	<key>GCM_SENDER_ID</key>
	<string>900387138832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tri2820.packer</string>
	<key>PROJECT_ID</key>
	<string>packer-tri</string>
	<key>STORAGE_BUCKET</key>
	<string>packer-tri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900387138832:ios:e289b0fca84e440f6f4995</string>
</dict>
</plist>